*{
  background: black;
  box-sizing: border-box;
}

h1 {
  color: white;
}

.grid-container{
     width: 100%;
     max-width: 1200px;
     opacity: 0.5;
 }

.col {
     float: left;
     height: 10px;
     width: 33.33%;
     padding: 12px;
     background-color: #FFDCDC;
     border: 1px solid black;
     /*opacity: rgba (0, 0 ,0 ,0.5);*/
   }

h2.hidden {
  visibility: hidden;
}
