*{
  background: #E4DBBF;
  box-sizing: border-box;
}

h1 {
  color: #DC5B21;
  font-family: 'Finger Paint', cursive;
}

#player1win {
  color: #DC5B21;
  /*visibility:   hidden;*/
  display: none ;
  font-family: 'Finger Paint', cursive;
}

.board-container{
     width: 100%;
     max-width: 1200px;
     opacity: 0.5;
 }


.col {
     float: absolute;
     height: 10px;
     width: 30.00%;
     padding: 12px;
     background-color: #70AB8F;
     border: 1px solid #383127;
     display: inline-block;
     display: inline-block;
    vertical-align: top;
    line-height: 100%;
    text-align: center;
    margin-right: 2px;
     /*opacity: rgba (0, 0 ,0 ,0.5);*/
   }

#reset {
  display:inline-block;
  position: absolute;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-family: 'Finger Paint', cursive;
}

.xo {
  font-family: 'Pacifico', cursive;
}
