*{
  background: black;
  box-sizing: border-box;
}

h1 {
  color: white;
}

.grid-container{
     width: 100%;
     max-width: 1200px;
     opacity: 0.5;
 }

 h2.hidden {
   color: white;
   visibility: hidden;
   display: inline-block;
 }

.col {
     float: absolute;
     height: 10px;
     width: 33.33%;
     padding: 12px;
     background-color: #FFDCDC;
     border: 1px solid black;
     display: inline-block;
     /*opacity: rgba (0, 0 ,0 ,0.5);*/
   }

#resetBoard {
  display:inline-block;
  position: absolute;
  color: white;
  border: 1px solid white;
}
