*{
  background: black;
  box-sizing: border-box;
  cursor: crosshair;
}

h1 {
  border: 1px solid rgba(21,171,195,1.0);
  background: rgba(21,171,195,1.0);
  border-radius: 25px;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  display: block;
  text-align: center;
  -webkit-box-shadow: 0 0 5px rgba(21,171,195,1.0);
  box-shadow: 0 0 5px rgba(21,171,195,1.0);

}

.endMessage {
  color: white;
  display: none ;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}


#instructions {
    color: rgba(21,171,195,1.0);
    display: inline-block ;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    -webkit-box-shadow: 0 0 5px rgba(21,171,195,1.0);
    box-shadow: 0 0 5px rgba(21,171,195,1.0);
  }

.board-container{
     width: 100%;
     max-width: 1200px;
     opacity: 0.5;
 }


.col {
   /*float: center;*/
   height: 50px;
   width: 50px;
   /*padding: 12px;*/
   background-color: black;
   border: 1px solid rgba(21,171,195,1.0);
   /*-webkit-box-shadow: 0 0 5px rgba(21,171,195,1.0);*/
   box-shadow: 0 0 5px rgba(21,171,195,1.0);
   display: inline-block;
  vertical-align: top;
  line-height: 275%;
  text-align: center;
  margin-right: 2px;
  text-shadow: 0 0 5px rgba(21,171,195,0.7);
  color: white;
   }

#reset {
  display:inline-block;
  left: 100px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
}

.xo {
  font-family: 'Orbitron', sans-serif;
  color: white;
}
